#Aboutpage {
	background: #466060;
	/* #0E79B2  */
	/* Star Command Blue */
	/* 595959 */
	/* Davys Grey */
}

.Aboutpage-description {
	border-color: #F39237;
}

.Aboutpage-highlight {
	color: #F39237; /* Deep Saffron */
	font-weight: 600;
}

.Aboutpage-description p {
	font-family: 'Source Code Pro', monospace;
}

.card {
	background: none;
}

.card-main-header {
	font-size: 90px;
	font-family: 'Rubik', sans-serif;
}

.card-link-container {
	height: 30%;
}

.card-link-container-website {
	width: 150px;
}

.card-link-website {
	font-size: 22px;
}

.card-link-website:hover {
	font-size: 24px;
	color: #F39237; /* Deep Saffron */
}

.card-link-container-github {
	width: 65px;
}

.card-link-github {
	font-size: 35px;
}

.card-link-github:hover i{
	font-size: 38px;
}

.card-link-website, .card-link-github i {
	color: #F39237; /* Deep Saffron */
}

.Aboutpage-vertical-border {
	height: 30px;
	border-color: #F39237; /* Deep Saffron */
	background: #F39237; /* Deep Saffron */
}

.list-group-item {
	background: none;
}