.navbar {

}

#navbar-header i {
	color: #F39237; /* Deep Saffron */
	font-size: 20px;
}

#navbar-header a{
	color: white;
	font-size: 18px;
}

#navbar-header a:hover {
	font-size: 20px;
}

.navbar-nav a{
	color: white;
}

.navbar-nav a:hover {
	color: #F39237; /* Deep Saffron */
	text-decoration: underline;
}

.navbar-toggler {
	border-color: #F39237; /* Deep Saffron */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.fa-bars {
	color: #F39237; /* Deep Saffron */
}